/********** variable declaration **********/
:root {
  /* color */
  --main-color: #C84451;
  --second-color: #D6D6D6;
  --background-color: #F4F4F6;
  --light-color: white;
  --text-color: #868682;
  /* spacing */
  --space: 10px;
  --section-spacing: 20px;
  --body-spacing: 40px;
  /* border radius */
  --border-radius: 10px;
}

/********** style restart **********/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  background-color: var(--background-color);
  font-family: Arial, Helvetica, sans-serif;
  padding: 0 var(--body-spacing);
  color: var(--text-color);
}

/********** main title styles **********/
.main-title {
  margin: var(--space) 0;
  font-size: 60px;
  color: black;
}

.main-paragraph {
  margin: var(--space) 0;
  font-size: 20px;
  font-weight: bold;
  color: black;
}

/********** header styles **********/
.header {
  display: flex;
  justify-content: space-around;
  overflow: hidden;
  border-radius: var(--border-radius);
  background-color: var(--second-color);
}

.header__link {
  width: 100%;
  padding: var(--section-spacing);
  text-align: center;
  color: var(--main-color);
  font-weight: bold;
  transition: .5s;
}

.header__link:hover {
  color: var(--light-color);
  background-color: var(--main-color);
}

/********** card styles **********/
.card {
  display: flex;
  justify-content: space-between;
  margin-top: var(--section-spacing);
  padding: var(--section-spacing);
  border-radius: var(--border-radius);
  background-color: var(--light-color);
}

.card__content {
  width: 70%;
}

.card__category-title, .card__title {
  margin-bottom: var(--space);
}

.card__title {
  color: var(--main-color);
}

.card__img, .card__img--frame {
  width: 30%;
  height: 250px;
  margin-right: var(--section-spacing);
  object-fit: cover;
}

.card__img--frame {
  margin-left: var(--section-spacing);
  padding: var(--space);
  border: 1px solid var(--text-color);
}

/********** articles container styles **********/
.articles-container {
  margin-top: var(--section-spacing);
  padding: 0 var(--section-spacing);
  border-radius: var(--border-radius);
  background-color: var(--light-color);
}

/********** article card styles **********/
.article-card {
  display: flex;
  padding: var(--section-spacing) 0;
  border-bottom: 1px solid var(--main-color);
}

.article-card:last-child {
  border-bottom: none;
}

.article-card__metadata {
  width: 20%;
  line-height: var(--section-spacing);
}

.article-card__meta-name {
  font-weight: bold;
  color: var(--main-color);
}

.article-card__meta-comment {
  font-style: italic; 
}

.article-card__content {
  width: 80%;
}

.article-card__title {
  margin-bottom: var(--space);
  color: var(--main-color);
}

.article-card__description {
  margin-bottom: var(--section-spacing);
}

.article-card__link {
  font-weight: bold;
  color: var(--main-color);
}

/********** footer styles **********/
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: var(--section-spacing) 0;
}

.footer__social-link {
  margin-right: var(--section-spacing);
}

.footer__social-link--youtube img {
  border-radius: 50%;
  background-color: #F44336;
}